DB_HOST=ep-shiny-salad-ai2o4kbv-pooler.c-4.us-east-1.aws.neon.tech
DB_PORT=5432
DB_NAME=neondb
DB_USER=neondb_owner
DB_PASSWORD=npg_HQlxGpCg58KL
DB_SSLMODE=require
JWT_SECRET=bd_pitahaya_secret_key_2026_cambiar_en_produccion
